body {
    background-color:orange;
}

header {
	background-color:darkorange;
	width: 97%;
	padding: 10px 20px 5px 20px;
	margin: 0px;
	position: fixed;
	top: 0;
	}


header img {
	float: right;
	width: 150px;
}

header ul {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	list-style-type: none;
}

header li {
	display: inline;
	padding: 0px 20px;
}

header a:link {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

header a:hover {
	color: #FFFF00;
}

/* - - - - -  data section of the comics  - - - - - */

section {
	/* padding-top is needed to prevent that the content of section is hidden
	   behind the header */
	padding-top: 150px;

	/* padding-bottom is needed to prevent that the footer overlaps the content
	   of the section */
	padding-bottom: 200px;

	padding-left: 1%;
	width: 84%;
	float: left;
}

section tr:nth-child(even) {
    background-color: yellow;
}

/* - - - - -  side bar  - - - - - */

aside {
	width: 13%;
	padding: 150px 1%;
	float: right;
}

aside p {
	padding-bottom: 0.5%;
	margin: 0%;
}

aside p:b {
	padding-top: 0.5%;
}

aside a:link {
	color: black;
	text-decoration: none;
}

aside a:hover {
	color: #FFFF00;
}

li {
    /* give some space after each element of the bullet list */
    padding-bottom: 10px;

    /* removes the bullets in front of the bullet list
       mainly needed for comics_navi */
    list-style-type: none;
}

/* - - - - -  footer  - - - - - */

footer {
	background-color: darkorange;
	clear:both;
	position: fixed;
	bottom: 0;
	width: 97%;
	padding: 10px 20px 10px 20px;
}

footer table {
	padding: 0.5% 1%;
}