<!doctype html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="<TMPL_VAR GRAPH_PATH>/favicon.ico" />
    <link rel="shortcut icon" href="<TMPL_VAR GRAPH_PATH>/favicon.ico" type="image/x-icon" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="author" content="LiKneu">
    <title>Comics Navi</title>
</head>
<body>

<h2>Comic start page</h2>
<h1>Comics navi</h1>

<table border="0" bgcolor="#FF0080" cellpadding="3" cellspacing="1" width=100%>
    <tr><td style="height:22px"></td></tr>
</table>
<br />


<table width="100%" border="0" cellpadding="3" cellspacing="1">
    <tr>
        <th align="left">Funktionen</th>
        <th align="left">Links</th>
    </tr>
    <tr valign="top">
        <td width="50%">
            <ul>
                <li><a href="./sammlungsliste.pl" target="_blank">Liste aller Sammlungen</a></li>
            </ul>
            <ul>
                <li><a href="./durchsuche_index.pl" target="_blank">Suche</a></li>
                <li><a href="./erstelle_index.pl" target="_blank">Index erstellen bzw. aktualisieren</a></li>
                <li><a href="./new_series.pl" target="_blank">Neue Serie</a></li>
            </ul>
            <ul>
                <li><a href="./hole_bilder.pl" target="_blank">Cover & Leseproben aus Internet downloaden</a></li>
            </ul>
            <ul>
                <li>
                    <img title="Einstellungen" alt="Einstellungen" src="<TMPL_VAR GRAPH_PATH>/gear.png" with="16" height="16">
                    <a href="./einstellungen.pl" target="_blank">Einstellungen anzeigen</a>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li>
                    <img title="Deutscher Comic Guide" alt="Deutscher Comic Guide" src="<TMPL_VAR GRAPH_PATH>/comic_guide.ico" width="16" height="16">
                    <a href="http://www.comicguide.de" target="_blank">Comic Guide</a>
                </li>
            </ul>
            <ul>
                <li>
                    <img title="Bunte Dimensionen" alt="Bunte Dimensionen" src="<TMPL_VAR GRAPH_PATH>/bunte_dimensionen.png" width="16" height="16">
                    <a href="http://www.bunte-dimensionen.de" target="_blank">Bunte Dimensionen</a>
                </li>
                <li>
                    <img title="Carlsen Comics" alt="Carlsen Comics" src="<TMPL_VAR GRAPH_PATH>/carlsen.ico" width="16" height="16">
                    <a href="http://www.carlsen.de/web/comic/index" target="_blank">Carlsen Comics</a>
                </li>
                <li>
                    <img title="comic+" alt="Comicplus" src="<TMPL_VAR GRAPH_PATH>/comicplus.gif" height="16">
                    <a href="http://www.comicplus.de" target="_blank">comic+</a>
                </li>
                <li>
                    <img title="Cross Cult" alt="Cross Cult" src="<TMPL_VAR GRAPH_PATH>/cross-cult.ico" width="16" height="16">
                    <a href="http://www.cross-cult.de" target="_blank">Cross Cult</a>
                </li>
                <li>
                    <img title="Egmont Comic Collection" alt="Egmont Comic Collection" src="<TMPL_VAR GRAPH_PATH>/ehapa.ico" width="16" height="16">
                    <a href="http://www.ehapa-comic-collection.de" target="_blank">Ehapa Comic Collection</a>
                </li>
                <li>
                    <img title="EPSiLON" alt="EPSiLON" src="<TMPL_VAR GRAPH_PATH>/epsilon.ico" width="16" height="16">
                    <a href="http://www.epsilongrafix.de" target="_blank">Epsilon</a>
                </li>
                <li>
                    <img title="Finix" alt="Finix" src="<TMPL_VAR GRAPH_PATH>/finix.ico" width="16" height="16">
                    <a href="http://www.finix-comics.de" target="_blank">Finix Comics</a>
                </li>
                <li>
                    <img title="Kult Editionen" alt="Kult Editionen" src="<TMPL_VAR GRAPH_PATH>/kult.ico" width="16" height="16">
                    <a href="http://www.kult-editionen.de" target="_blank">Kult Editionen</a>
                </li>
                <li>
                    <img title="Panini Comics" alt="Panini Comics" src="<TMPL_VAR GRAPH_PATH>/panini.ico" width="16" height="16">
                    <a href="http://www.paninicomics.de" target="_blank">Panini Comics</a>
                </li>
                <li>
                    <img title="Piredda Verlag" alt="Piredda Verlag" src="<TMPL_VAR GRAPH_PATH>/piredda.ico" width="16" height="16">
                    <a href="http://www.piredda-verlag.de" target="_blank">Piredda Verlag</a>
                </li>
                <li>
                    <img title="Salleck Publications" alt="Salleck Publications" src="<TMPL_VAR GRAPH_PATH>/salleck.ico" width="16" height="16">
                    <a href="http://www.salleck-publications.de/" target="_blank">Salleck Publications</a>
                </li>
                <li>
                    <img title="Splitter Verlag" alt="Splitter Verlag" src="<TMPL_VAR GRAPH_PATH>/splitter.ico" width="16" height="16">
                    <a href="http://www.splitter-verlag.eu" target="_blank">Splitter Verlag</a>
                </li>
            </ul>
        </td>
    </tr>
</table>

<footer>
    <hr>
    <p>&copy; 2017-12-31 LiKneu</p>
</footer>

</body>
</html>